<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="logo"><img src="../../../../assets/Logo_Banigualdad.jpg" alt=""></div>
          <div class="card">
            <div class="card-body text-center">
              <form >
                <h1 class="h5 mb-4 font-weight-normal">Ultiliza tu telèfono para Iniciar Sesiòn</h1>
                <div class="form-group">
                  <input type="tel" id="phone" name="phone" class="form-control" placeholder="Ejemplo: +56930303030" required>
                </div>
                <div class="form-group">
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block">Enviar SMS</button>
                <div class="form-group">
                  <a class="mb-5" routerLink="/user/register" class="form-control login-user">Eres nuevo?</a>
                </div>
                <p>
                  <a  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    O utiliza una de las siguientes opciones
                  </a>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <div class="form-group">
                      <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()">
                        <span class="fa fa-facebook"></span>
                        FACEBOOK
                      </button>
                      <button class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()">
                        <span class="fa fa-google"></span>
                        GOOGLE
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>
