body{
  font-family: 'Lato' !important;
}
#loading{
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10;
}
.contenedor-loading{
  position: absolute;
  height: 200px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
}
.contenedor-loading img{
  margin: 0 auto; 
  display:block;
  max-width: 200px;
}
.search{
  width:70% !important;
}
.imagenes{
  max-width:300px;
}
.space{
  width: 100%;
  height: 50px;
}