body{
  font-family: 'Lato' !important;
}
#loading{
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10;
}
.contenedor-loading{
  position: absolute;
  height: 200px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
}
.contenedor-loading img{
  margin: 0 auto; 
  display:block;
  max-width: 170px;
}
.search{
  width:50% !important;
  float: left;
}
.imagenes{
  max-width:300px;
}
.space{
  width: 100%;
  height: 50px;
}
.spaceid{
  width:100%;
  height: 100px;
}
.carousel-item{
  max-height: 550px ;
}
.right-developer{
  float:left;
  margin-right: 10px;
}
.forms-developer{
  max-width: 500px;
  width: 70%;
  right: 0;
  position: absolute;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#1A83C4;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
footer{
  width:100%;
  margin-top:40px;
  background: #1A83C4 !important;
  height: 200px;
}
footer img{
  margin: 0 auto; 
  display:block;
}
.name-e{
  text-align:left;
  margin-top:8px;
font-weight: 600;
color: #1A83C4;
}
.description{
  font-style: italic;
}

/*----------------------------------------------------------------------------------------*/
#root{
  color: #555555;
  font-family: Lato;
}

#email, #password{
  margin: 10px;
  padding: 10px;
  background: #FFFFFF;
  opacity: 0.6;/* Primary Color */
  border: 1.5px solid #1A83C4;
  box-sizing: border-box;/* Drop Shadow Normal */
  box-shadow: 0px 8px 20px rgba(135, 139, 140, 0.2);
  border-radius: 6px;
  width: 240px;
}

#login{
  background: #6FD454;
  /* Drop Shadow Focus */
  box-shadow: 0px 8px 15px rgba(135, 139, 140, 0.15);
  border-radius: 6px;
  color: white;
  width: 240px;
  height: 40px;
}

.loginButton{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px
}

h4{ /* iniciar sesión */
  margin: 0px;
  padding: 15px;
}

.logo{
  margin: 15px auto;
  display:block;
}
.center-developer{
  text-align:center;
}
.TyCText{
  font-size:  14px;
  line-height: 21px;
}
header{
  background-color: #1A83C4;
}

.menu{
  color: white;
}
.name{
  text-align: center;
  color: white;
}

.back, .add, .image, .archivo, .arrowRight{
  width: 20px;
  height: 20px;
}

.arrowRight{
  text-align: left;
}

.image, .archivo{
  margin-right: 10px;
  margin-left: 10px
}

.firstMessage, .secondMessage{
  border-radius: 5px;
  width: 250px;
  margin: 20px;
}

.firstMessage{
  border: 2px solid rgb(235, 240, 240);
  background-color: rgb(235, 240, 240);
}

.secondMessage{
  border: 2px solid white;
  background-color: white;
  margin: right;
}

.pMessage{
  margin: 10px
}

input{
  border-radius: 5px;
  width: 200px;
}
@media (max-width: 768px){
  .col-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-4 img{
  margin: 0 auto; 
  display:block;
}
.col-4 a{
  margin:0 auto;
  display:block;
  max-width: 60%;
}
.name-e{
text-align:center;

}
.description{
  text-align:center;
}
}
@media (max-width: 500px){
  .col-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.carousel-inner{
 display:none;
}
.space{
  height: 250px;
}
.spaceid{
  height:50px;
}
.logo-mobile{
  width:100%;
  display:block;
}
.mt-2, .my-2 {
 margin-top: 0rem!important;
}
.logo-mobile img{
  margin: 0 auto;
  display:block;
  margin-bottom:15px;
  max-width: 130px;
}
.search{
  width:40% !important;
  float: left;
margin:0 ;
}
.forms-developer {
  max-width:414px;
  width: 100%;
  right: 0;
  left:0;
  position: relative;
  margin: 0 !important;
}
}